
.numeros {
    display: flex;
    margin: 0 5rem 0 5rem;
    width: 1200px;
    gap: 32px;
}

.numero {
    font-family: var(--font-principal);
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-texto);
}

.subtitulo {
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 500;
    padding: 1rem 0 1rem 0;
    color: var(--cor-preta);
}

.texto {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 0px 0 0;
    color: var(--cor-cinza-claro);  
}


.numeros, .numeros__conteudo {
    width: 1200px;
}